
*
{ font-family: "Arial", Georgia, Serif;}

body,
html{
    width:100%;
    height: 100%;
    padding:0;
    margin:0;
}

/*Section A*/

.header{
  position: fixed;
width:100%;
height: 10%;
background: rgba(29, 68, 132,1);
z-index: 1;
}
.knopka1,.knopka2,.knopka3,.knopka4
{
  position: absolute;
  width: 8%;
  height: 100%;
  display:inline-block;

}
.knopka1 p,.knopka2 p,.knopka3 p,.knopka4 p
{
  padding-top: 25%;
  color: white;
  font-size: 13px;
  text-align: center;
}
.knopka1:hover,.knopka2:hover,.knopka3:hover,.knopka4:hover
{
background: rgba(41,97,188,0.7);
cursor: pointer;
}
.knopka1
{
 left: 68%;
}
.knopka2
{
 left: 76%;
}
.knopka3
{
 left: 84%;
}
.knopka4
{
 left: 92%;
}
.logo{
 left:5%; 
 top:10%;

  position: absolute;
  width: 30%;
  height:80%;
}
.logo img
{

  float: left;
  width: 14%;
  height: 100%;
}
.logo h2
{
  position: absolute;
  font-size:20px;
  margin-top:4%;
margin-left:20%;
color: white;
}

.main-back
{
  width: 100%;
  height:100%;
  background: url("../img/s_2-1.jpg") fixed;
  background-size: 100% 100%; 
}
.addition-back
{
  position: relative;
  height: 100%;
  width: 45%;
  background: rgba(29, 68, 132,0.3);
  text-align: left;
}

.addition-back p
{
    font-size: 16px;
  color: white;
}
.addition-back h2
{
     font-size: 30px;
     border-bottom: 1px solid white ; 
}
.text{
  position: absolute;
    top: 30%;
    right: 30%;
  width: 60%;
  height: 30%;


}

/*Section B*/
.Service
{
    width: 100%;
  height:70%;
  background: white;
  z-index: 2;

}
.left-back{
  float:left;
  position: relative;
    background: rgba(29, 68, 132,0.3);
      height: 100%;
  width: 45%;
}
.textLeft{
    position: absolute;
    top: 10%;
    right: 10%;
  width: 30%;
  height: 30%;
  opacity: 0;
}
.left-back p
{
    font-size: 50px;

}
.left-back h2
{
  font-weight: bold;
     font-size: 50px;
       color: rgb(0, 52, 137);
}


.right-back
{

  position: relative;
float:right;
 height: 100%;
  width: 55%;
    opacity: 0;
}
.k1,.k2,.k3,.k4
{
  position: absolute;
  display: inline-block;
  width: 30%;
  height:50%;

}
.k1 p,.k2 p,.k3 p,.k4 p
{
  margin-left: 10%;
font-size: 20px;
text-align: left;
margin-top:10%;
}
.s1
{
  margin-top: 5%;
  list-style: none;
  font-size:25px;
}


#i1,#i2,#i3,#i4
{
  position: absolute;
}
#i1
{
  height:75px;
  width: 75px;
  margin-top:10%;
  margin-left:10%;
}
#i2
{
   height:75px;
  width: 75px;
  margin-top:10%;
  margin-left:52%;
}
#i3
{
   height:75px;
  width: 75px;
  margin-top: 35%;
    margin-left:52%;

}


#i4
{
     height:75px;
  width: 75px;
    margin-top:35%;
  margin-left:10%;

}
.k1
{
  top:10%;  
    left:20%;
}
.k2
{
    top:10%;
  left:60%;

}
.k3
{

  left:20%;
    bottom: 0;

}
.k4
{


  bottom: 0;
  left:60%;

}




.contact
{
  position:relative;
  width: 100%;
  height:90%;
  background: url("../img/1.jpg") fixed;
  background-size:100% 100%; 
}
.map
{
  position: absolute;
  left:45%;
  top: 30%;
  width:50%; 
  height:50%;
}

/*Section C*/

.leftSide{
  float:left;
  position: relative;
    background: rgba(29, 68, 132,0.6);
      height: 100%;
  width: 45%;
}

.textLeft1{
    position: absolute;
    top: 15%;
    right: 10%;
    font-size: 35px;
  width: 30%;
  height: 30%;
  font-weight: bold;
  color:white;

}
.rightSide
{

position: relative;
float:right;
 height: 100%;
  width: 55%;
background: rgba(29, 68, 132,0.3);
    
}
/*Section D*/
.Byr
{
  position: relative;
  height:75%;
  width: 100%;
    background-size: 100% 100%;
}
.Fixe
{
  position: relative;
  height:75%;
  width: 100%;

}

.ByrRight
{
  right:0;
  position: absolute;
  width: 50%;
  height: 100%;
      background: url("../img/equip_4-1.jpg");
  background-size:100% 100% ; 
}
.FixeRight
{
  position: absolute;
  width: 50%;
  height: 100%;
  background: url("../img/equip_5-1.jpg");
  background-size:100% 100% ; 
}


.textByr h2 ,.textFixe h2
{
font-size: 40px;
text-align: center;
margin:0;
padding-top:10%;
color:white;
border-bottom: 1px solid yellow;

}
.textByr p,.textFixe p
{
  color: white;
  font-size: 20px;
  text-align: left;
 margin:0;
  padding-left:10%;
 padding-top:5%;
 padding-right: 10%;

}
.textByr
{
position: absolute;
width:50%;
height:100%;
background: rgba(0,0,0,0.8);
}
.textFixe
{
right:0;
position: absolute;
width:50%;
height:100%;
background: rgba(0,0,0,0.8);
}

/*Section I*/

.client{

  position: relative; 
width:100%;
height:40%;
background: rgba(29, 68, 132,0.8);
}
.client p
{
  color: lightgrey;
  font-size: 40px;
  padding-top:1%;
  text-align: center;

}
.client1,.client2,.client3,.client0
{
  position: absolute;
  height:85%;
  width:20%;
  top:5%;

}
.client1 img,.client2 img,.client3 img, .client0 img
{
height:80%;
width:80%;
margin-left:10%;
margin-top:10%;
opacity:0.5;
}
.client1:hover,.client2:hover,.client3:hover,.client0:hover
{
opacity:1;

}
.client1:hover img,.client2:hover img,.client3:hover img,.client0:hover img
{
opacity:1;
}
.client0
{
  top:10%;
  left:10%;
}
.client1{left:30%;}
.client2{left:50%;}


.client3{left:70%;}

.CenterT
{

  position: absolute;
  height: 80%;
  width:60%;
  top: 10%;
  left: 20%;
background: rgba(255, 255, 255,1);
}
.CenterT p
{

  text-align: center;
  font-size: 25px;
  padding-top: 5%;
}

.CenterTLeft{height: 70%;width: 50%;}
.CenterTLeft p{margin-top: 10%;}





.test1
{
  opacity: 1;
  animation-name: showLeftText;
  animation-duration: 4s;
}



/*Animation*/

@keyframes show
{
  from{background: rgba(29, 68, 132,0.0);}
  to{background: rgba(29, 68, 132,0.3);}
}

@keyframes showText
{
  from{opacity: 0;}
  to{opacity: 1;}
}


@keyframes showLeftText
{
  from{opacity: 0;}
  to{opacity: 1;}
}


/*Media queries*/

@media all and (max-width: 1250px){
    .header p{ font-size:8px;}
  .header h2{  font-size:14px }
    .text h2 {font-size:18px;}
   .text p{ font-size:12px; }
   .logo img { width:50px;height:50px;  }
  .textLeft h2{font-size:25px;}
   .textLeft p{font-size:25px;}
  .right-back #i1,#i2,#i3,#i4{width:50px; height:50px;}
   .right-back #i3,#i4{top:25%;}
  .right-back p {font-size:10px;}
  .right-back ul {font-size:12px;}
  .right-back .k1,.k2,.k3,.k4{}
  .textByr h2 {font-size:16px;}
  .textByr p{font-size:12px;}
   .textFixe h2 {font-size:16px;}
  .textFixe p{font-size:12px;}
  .client p{font-size:18px;}
  .client0 img, .client1 img, .client2 img, .client3 img{height:50%;
width:80%;}
  .client0 , .client1, .client2, .client3{top:20%;}
  .contact p {font-size:14px;}
  .map{width:50%; 
  height:25%;}

  
 
}



@media screen and (max-width: 800px){
    .main-back,.Service,.contact{height:70%;}
  .Byr,.Fixe{height:60%;}

 .knopka1,.knopka2,.knopka3,.knopka4{display:none }
  .logo{ left:45%;}
    .logo h2{display:none;}
   .logo img { width:70px;height:65px; }
  .text h2{font-size:16px;}
  .text p{ font-size:10px;}
  .textLeft h2,p{font-size:16px;}
   .textLeft p{font-size:16px;}
  .right-back #i1,#i2,#i3,#i4{width:40px; height:40px;}
   .right-back #i3,#i4{top:25%;}
  .right-back p {font-size:10px;}
  .right-back ul {font-size:12px;}
  .right-back .k1,.k2,.k3,.k4{}
  .textByr h2 {font-size:16px;}
  .textByr p{font-size:12px;}
   .textFixe h2 {font-size:16px;}
  .textFixe p{font-size:12px;}
  .client p{font-size:12px;}
  .client0 img, .client1 img, .client2 img, .client3 img{height:50%;
width:80%;}
  .client0 , .client1, .client2, .client3{top:20%;}
  .contact p {font-size:10px;}
  .map{width:50%; 
  height:25%;}
}



@media screen and (max-width: 500px){
.header{height:10%;}
    .main-back,.Service,.contact{height:55%;}
  .Byr,.Fixe{height:45%;}

 .knopka1,.knopka2,.knopka3,.knopka4{display:none }
  .logo{ left:45%;}
    .logo h2{display:none;}
   .logo img { width:50px;height:50px; }
  .text h2{font-size:8px;}
  .text p{ font-size:6px;}
  .textLeft h2{font-size:10px;}
   .textLeft p{font-size:10px;}
  .right-back #i1,#i2,#i3,#i4{width:25px; height:25px;top:10%;}
   .right-back #i3,#i4{top:30%;}
  .right-back p {font-size:6px;}
  .right-back ul {font-size:8px;}
  .right-back .k1,.k2,.k3,.k4{}
  .textByr h2 {font-size:10px;}
  .textByr p{font-size:8px;}
   .textFixe h2 {font-size:10px;}
  .textFixe p{font-size:8px;}
  .client p{font-size:8px;}
  .client0 img, .client1 img, .client2 img, .client3 img{height:35%;
width:80%;}
  .client0 , .client1, .client2, .client3{top:30%;}
  .contact p {font-size:8px;}
  .map{width:50%; 
  height:25%;}

  
  
}



